@import url('https://fonts.googleapis.com/css?family=Bellefair|Indie+Flower');
body {
}
.container {
	width: 500px;
    height: 600px;
    margin:35px auto;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}
header {
    text-align: center;
	font:italic 35px Indie Flower;
	color: black;
}
.addTask, ul li {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 2px 0;
    padding-left: 5px;
    font-size: 24px;
    background-color: #fff;
    border: 1px solid #b3b2b2;
    border-radius: 5px;
}
ul {
	height: 428px;
    overflow: auto;
}
ul li {
	display: flex;
	align-items: center;
    cursor: pointer;
}
.wrapp-li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.remove {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}
.but-edit {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.wrapp-but {
    text-align: end;
}
.doneLi {
	text-decoration: line-through;
}
.fildAdd {
	width: 100%;
}
.fildAdd h1 {
	font-size: 28px;
	font-family: Bellefair;
}
.fildAdd input {
	height: 26px;
	margin: 10px 0;
	border-radius:5px;
	font-size:18px;
}
input:focus,button:focus {
	outline: none;
}
.fildAdd .cancel,.fildAdd .ok {
    width: 16%;
    height: 29px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #b3b2b2;
    cursor: pointer;
}
.hide {
	visibility: hidden;
}
.but-operation  {
    width: 17%;
    height: 22px;
    border-radius: 5px;
    background-color: #d6d5d5;
    border: 1px solid #b3b2b2;
    cursor: pointer;
}
